<h1>Rope Routes at <%= @gym.name %> in <%= @gym.location %></h1>
<p><%= link_to "Sort Rope Routes by Color", "/gyms/#{@gym.id}/rope_routes/?sort=Alphabetical" %></p>
  <% @rope_routes.each do |route| %>
    <h3>Grade: <%= route.grade %>, <%= route.color %></h3>
    <p>Route ID: <%= route.id %></p>
    <p>Top Rope: <%= route.top_rope %></p>
    <p>Lead: <%= route.lead %></p>
    <p>Height (in feet): <%= route.height %></p>
    <p>Created: <%= route.created_at %></p>
    <p>Updated: <%= route.updated_at %></p>
    <p>Gym ID: <%= route.gym_id %></p>
  <% end %>
  <%= link_to "Add Rope Route", "/gyms/#{@gym.id}/rope_routes/new" %>
