<%= form_with url: "/gyms/#{@gym.id}/rope_routes", method: :post, local: true do |form| %>
  <p>Add a Rope Route to <%= @gym.name %></p>
  <%= form.label :grade %><br>
  <%= form.text_field :grade %><br>
  <%= form.label :color %><br>
  <%= form.text_field :color %><br>
  <%= form.label :top_rope %><br>
  <%= form.select :top_rope, [true, false] %><br>
  <%= form.label :lead %><br>
  <%= form.select :lead, [true, false] %><br>
  <%= form.label :height %><br>
  <%= form.text_field :height %><br>
  <%= form.submit "Add Rope Route" %>
<% end %>
