<h1><%= @rope_route.grade %>: <%= @rope_route.color %></h1>
<p>Route ID: <%= @rope_route.id %></p>
<p>Top Rope?: <%= @rope_route.top_rope %></p>
<p>Lead?: <%= @rope_route.lead %></p>
<p>Height (in feet): <%= @rope_route.height %></p>
<p>Created at: <%= @rope_route.created_at %></p>
<p>Updated at: <%= @rope_route.updated_at %></p>
<p>Gym ID: <%= @rope_route.gym_id %></p>
